/* html, body {
  overflow-x: hidden; 
} */

* {
  box-sizing: border-box;
    /* outline: 1px solid red;  */
}
/* .slick-slider {
  overflow: hidden;  
} */

/* .slick-list {
  overflow: hidden !important;
} */

.slick-track {
  display: flex !important;
  align-items: center;
}